*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  backface-visibility: hidden; }
  @media only screen and (max-width: 1200px) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 900px) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 1800px) {
    html {
      font-size: 75%; } }

body {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 300;
  background-color: var(--background);
  overflow-x: hidden;
  backface-visibility: hidden; }

:root {
  --background: #FFFFFF;
  --rectangle-color:rgba(233,190,76,0.1);
  --navigation-text-color:#D7D7D7 100%;
  --body-text-color:#4F4F4F;
  --header-color: #215A50;
  --eclipse-color: #FF8D28;
  --eclipse-color-2: rgba(33,90,80,0.2);
  --yellow:#E9BE4C;
  --white: #FFFFFF;
  --footer-nav-color: rgba(79,79,79,0.5);
  --border: rgba(33,90,80,0.4);
  --red: rgb(255,55,55);
  --black: #000000;
  overflow-x: hidden;
  --gray: rgba(79,79,79,.5); }

.header {
  padding-top: 3.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative; }
  .header__logo-box {
    display: flex;
    align-items: center; }
  .header__logo {
    width: 13.5rem;
    height: 5.2rem; }
  .header__navigation {
    padding-top: 1rem;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 767px) {
      .header__navigation {
        display: none; } }
    .header__navigation-list {
      display: flex;
      list-style-type: none; }
    .header__navigation-icon {
      width: 2.4rem;
      height: 2.4rem; }
    .header__navigation-item {
      position: relative;
      margin-right: 2rem;
      margin-left: 2rem;
      cursor: pointer; }
      @media only screen and (max-width: 1200px) {
        .header__navigation-item {
          margin-right: 1.5rem;
          margin-left: 1.5rem; } }
    .header__navigation .underline {
      opacity: 0;
      visibility: hidden;
      width: .5rem;
      position: absolute;
      bottom: -1.5rem;
      left: 50%;
      top: 70%;
      transform: translate(-50%, -50%);
      border-radius: 5px;
      height: 4px;
      background-color: var(--active);
      transition: all .5s ease; }
      .header__navigation .underline.active {
        opacity: 1;
        visibility: visible;
        width: 100%; }
    .header__navigation-link, .header__navigation-link:visited, .header__navigation-link:link {
      text-decoration: none;
      color: var(--navigation-text-color); }
      .header__navigation-link.active, .header__navigation-link.active:visited, .header__navigation-link.active:link, .header__navigation-link:visited.active, .header__navigation-link:visited.active:visited, .header__navigation-link:visited.active:link, .header__navigation-link:link.active, .header__navigation-link:link.active:visited, .header__navigation-link:link.active:link {
        color: var(--active); }
    .header__navigation-item:hover .underline {
      width: 100%;
      opacity: 1;
      visibility: visible; }
  .header__btn-box {
    margin-left: 2rem; }

.eclipse {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--eclipse-color);
  color: var(--white);
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 50%;
  font-size: 7rem;
  font-weight: 500; }
  @media only screen and (max-width: 768px) {
    .eclipse {
      width: 6.5rem;
      height: 6.5rem; } }
  .eclipse--gray {
    background-color: var(--eclipse-color-2); }

.btn, .btn:link, .btn:visited {
  padding: 1rem 2.5rem;
  font-size: inherit;
  display: inline-block; }

.btn--orange {
  background-color: var(--eclipse-color);
  color: var(--white); }
  .btn--orange:hover {
    background-color: var(--eclipse-color);
    color: var(--white); }

.btn--border {
  border-radius: 5px; }

.btn--capitalize {
  text-transform: uppercase; }

.btn--border-none {
  border-radius: 0rem; }

.btn--discover {
  opacity: 0;
  transition: all .3s ease; }
  .btn--discover, .btn--discover:link, .btn--discover:visited {
    padding: .5rem 2.5rem;
    font-size: 1.8rem;
    border: none; }

.section-intro {
  padding: 9.6rem 0; }

.illustration-image {
  display: block;
  width: 100%;
  object-fit: cover; }

.heading-primary {
  font-family: "Playfair Display",sans-serif;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 7.5rem;
  margin-bottom: 3rem;
  color: var(--header-color); }
  @media only screen and (max-width: 990px) {
    .heading-primary {
      font-size: 6rem; } }
  @media only screen and (max-width: 768px) {
    .heading-primary {
      font-size: 5rem; } }
  @media only screen and (max-width: 767px) {
    .heading-primary {
      font-size: 8rem; } }
  @media only screen and (max-width: 600px) {
    .heading-primary {
      font-size: 6rem; } }
  @media only screen and (max-width: 500px) {
    .heading-primary {
      font-size: 4rem;
      line-height: 5.1rem; } }

.paragraph {
  color: var(--body-text-color);
  margin-bottom: 3rem;
  font-weight: 400; }
  @media only screen and (max-width: 990px) {
    .paragraph {
      width: 100%; } }
  @media only screen and (max-width: 767px) {
    .paragraph {
      font-size: 2.5rem;
      text-align: center; } }
  .paragraph--white {
    color: var(--active);
    width: 100%; }
    @media only screen and (max-width: 990px) {
      .paragraph--white {
        width: 100%; } }

.overlay {
  position: absolute;
  background-color: var(--header-color);
  top: -60rem;
  right: -55rem;
  width: 135rem;
  height: 130rem;
  border-radius: 50%;
  z-index: -999999999999999;
  overflow-x: hidden; }
  @media only screen and (min-width: 2400px) {
    .overlay {
      right: -30rem; } }
  @media only screen and (min-width: 1440px) {
    .overlay {
      width: 140rem; } }
  @media only screen and (max-width: 1320px) {
    .overlay {
      width: 130rem; } }
  @media only screen and (max-width: 1200px) {
    .overlay {
      width: 128rem; } }
  @media only screen and (max-width: 1024px) {
    .overlay {
      width: 125rem; } }
  @media only screen and (max-width: 1070px) {
    .overlay {
      width: 120rem; } }
  @media only screen and (max-width: 990px) {
    .overlay {
      width: 120rem; } }
  @media only screen and (max-width: 768px) {
    .overlay {
      width: 118rem; } }
  @media only screen and (max-width: 767px) {
    .overlay {
      width: 100rem; } }
  @media only screen and (max-width: 600px) {
    .overlay {
      width: 90rem;
      top: -50rem; } }
  @media only screen and (max-width: 500px) {
    .overlay {
      width: 80rem;
      top: -65rem; } }
  @media only screen and (max-width: 320px) {
    .overlay {
      width: 75rem; } }

.wrapper {
  z-index: 99;
  position: relative; }

.section-gallery {
  padding-top: 5.2rem;
  position: relative;
  padding-bottom: 11.5rem;
  backface-visibility: hidden; }

.right-rectangle-overlay {
  width: 40.5rem;
  height: 27.4rem;
  position: absolute;
  top: 15rem;
  left: -15rem;
  background-image: url(/images/rectangle.png); }

.left-rectangle-overlay {
  width: 40.5rem;
  height: 27.4rem;
  position: absolute;
  background-image: url(/images/rectangle.png);
  right: -15rem;
  bottom: 0;
  z-index: -4; }

.gallery__header-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 4.2rem; }
  .gallery__header-box--modified {
    margin-bottom: 0; }

.gallery__header {
  margin-left: -3.5rem;
  align-self: flex-end; }

.gallery__box {
  background-color: var(--white);
  box-shadow: 0.1rem 0.3rem 1rem rgba(33, 90, 80, 0.1);
  text-align: center;
  position: relative;
  cursor: pointer;
  transition: all .2s ease;
  backface-visibility: hidden; }
  .gallery__box--2 .overline {
    left: 50%;
    transform: translate(-50%, -50%); }
  .gallery__box--3 {
    padding-top: 3.1rem; }

.gallery__text {
  margin-bottom: 4.3rem; }
  .gallery__text--3 {
    margin-top: 2.9rem; }
  .gallery__text--4 {
    margin-top: 5rem; }

.gallery__image--2 {
  margin-top: 5.1rem; }

.gallery__image--4 {
  margin-top: 12rem; }

.gallery__title {
  font-weight: 700;
  line-height: 2.7rem; }

.gallery__price {
  font-weight: 500;
  color: var(--red);
  line-height: 2.7rem; }

.heading-secondary {
  font-family: "Playfair Display",sans-serif;
  font-size: 4.8rem;
  line-height: 7.5rem;
  font-weight: 700;
  color: var(--header-color); }
  @media only screen and (max-width: 768px) {
    .heading-secondary {
      font-size: 6rem; } }
  @media only screen and (max-width: 600px) {
    .heading-secondary {
      font-size: 5rem; } }
  @media only screen and (max-width: 500px) {
    .heading-secondary {
      font-size: 4rem; } }
  .heading-secondary--white {
    color: var(--white);
    margin-bottom: 1rem; }
    @media only screen and (max-width: 768px) {
      .heading-secondary--white {
        font-size: 6rem; } }
    @media only screen and (max-width: 600px) {
      .heading-secondary--white {
        font-size: 4rem; } }
    @media only screen and (max-width: 500px) {
      .heading-secondary--white {
        font-size: 3.5rem; } }

.overline {
  background-color: var(--header-color);
  height: .4rem;
  width: 0rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all .2s ease;
  display: inline-block; }

.gallery__box:hover .overline {
  display: inline-block;
  opacity: 1;
  visibility: visible;
  width: 15.4rem; }

.gallery__box:hover .btn--discover {
  opacity: 1;
  margin-top: 2.4rem; }

.cta {
  background-color: var(--yellow);
  transform: rotate(270deg);
  display: inline-block;
  padding: .5rem 2.5rem;
  color: var(--white);
  font-size: 1.8rem;
  position: absolute;
  top: 2.75rem;
  left: -2.75rem;
  text-transform: uppercase; }
  .cta--orange {
    transform: rotate(0deg);
    background-color: var(--orange);
    text-align: center;
    padding: .5rem 2.4rem;
    bottom: 0rem;
    right: 1rem;
    z-index: 9999999999;
    width: 12.8rem;
    height: 4.7rem;
    position: absolute;
    color: var(--active);
    font-size: 1.8rem;
    cursor: pointer; }
    @media only screen and (max-width: 767px) {
      .cta--orange {
        right: 0; } }

.section-products {
  padding-top: 3.6rem;
  position: relative;
  z-index: 9999999;
  padding-bottom: 13.2rem;
  backface-visibility: hidden; }

@media only screen and (max-width: 767px) {
  .nav-pills {
    justify-content: center; } }

.nav-pills .nav-item a.active {
  background: none !important;
  color: var(--header-color);
  border-bottom: 2px solid var(--header-color); }

.nav-pills .nav-item a {
  font-size: 1.8rem;
  line-height: 2.7rem;
  font-weight: 500;
  color: var(--eclipse-color-2);
  text-transform: uppercase; }

.nav-item {
  margin-right: 9.9rem; }

.u-py-md {
  padding-top: 6.1rem; }

.product__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1.5px solid rgba(79, 79, 79, 0.7);
  margin-bottom: 4.4rem;
  cursor: pointer;
  transition: all .3s ease;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem; }
  .product__box:hover {
    background-color: #215a50;
    box-shadow: 2px 1rem 1.5rem rgba(33, 90, 80, 0.23);
    color: var(--active);
    border: 1.5px solid #215a50; }
    .product__box:hover svg path {
      fill: var(--white) !important;
      fill-opacity: 1; }
  .product__box:hover .product__text {
    color: var(--white); }

.product__image {
  display: block;
  width: 100%;
  height: 100%; }
  .product__image-box {
    position: relative;
    z-index: 999999;
    height: 100%; }

.product__overlay {
  width: 51.5rem;
  height: 32.5rem;
  background-color: var(--header-color);
  position: absolute;
  z-index: -99999999;
  top: 2rem;
  right: 1rem; }
  @media only screen and (min-width: 1800px) {
    .product__overlay {
      width: 42.1rem;
      height: 31.5rem; } }
  @media only screen and (max-width: 1200px) {
    .product__overlay {
      width: 48rem; } }
  @media only screen and (max-width: 990px) {
    .product__overlay {
      width: 45rem; } }
  @media only screen and (max-width: 768px) {
    .product__overlay {
      width: 39rem; } }
  @media only screen and (max-width: 767px) {
    .product__overlay {
      width: 95%;
      height: 100%;
      right: 0; } }
  @media only screen and (max-width: 500px) {
    .product__overlay {
      width: 91%; } }

.product__icon {
  margin-top: 4px;
  width: 4.3rem;
  height: 3.0rem; }

.product__text {
  font-size: 1.8rem;
  color: rgba(79, 79, 79, 0.5); }
  .product__text--white {
    color: var(--active); }

.u-mt-md {
  margin-top: 4.4rem; }

.u-mb-sm {
  margin-bottom: 4.4rem; }

.section-join-us {
  background-color: var(--header-color);
  padding: 3.3rem 0;
  padding-right: 1.5rem;
  padding-left: 1.5rem; }
  @media only screen and (max-width: 767px) {
    .section-join-us {
      text-align: center; } }

.my-row {
  align-items: center; }

.form__input {
  width: 100%;
  font-family: inherit;
  font-size: 1.8rem;
  padding: 1rem 2.5rem;
  border: none; }
  .form__input:focus {
    border: 1px solid --active;
    outline: none; }

.form__button {
  border: none;
  outline: none;
  padding: 1rem 2rem;
  background-color: var(--orange);
  color: var(--active);
  width: 100%; }
  @media only screen and (max-width: 768px) {
    .form__button {
      width: 100%;
      font-size: 1.6rem;
      text-align: center;
      padding-left: 2rem; } }
  @media only screen and (max-width: 767px) {
    .form__button {
      width: 100%; } }

.u-pr-sm {
  padding-right: 1rem; }
  @media only screen and (max-width: 767px) {
    .u-pr-sm {
      padding-right: 15px; } }

.u-pl-sm {
  padding-left: 1rem; }
  @media only screen and (max-width: 767px) {
    .u-pl-sm {
      padding-left: 15px; } }

.section-show {
  padding-top: 13.4rem;
  padding-bottom: 12.6rem;
  border-bottom: 2px solid rgba(33, 90, 80, 0.4); }

.show__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; }
  .show__image-box {
    /*  height: 29.6rem;
                  width:24.1rem; */ }
    .show__image-box--1 {
      height: 100%; }
    .show__image-box--3 {
      width: 26.5rem;
      height: 100%; }
      @media only screen and (min-width: 1440px) {
        .show__image-box--3 {
          width: 100%; } }
      @media only screen and (max-width: 1024px) {
        .show__image-box--3 {
          width: 105%; } }

.rowwy {
  justify-content: space-around; }

.u-mt-sm {
  margin-top: 2.4rem; }

.footer {
  padding: 10rem 0;
  border-bottom: 2px solid rgba(33, 90, 80, 0.4); }
  @media only screen and (max-width: 768px) {
    .footer {
      font-size: 1.6rem; } }
  .footer__navigation {
    list-style-type: none; }
    @media only screen and (max-width: 767px) {
      .footer__navigation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 3rem; } }
    .footer__navigation-header {
      margin-bottom: 4rem;
      color: var(--black);
      font-size: 2rem;
      font-weight: 700;
      text-transform: uppercase; }
      @media only screen and (max-width: 767px) {
        .footer__navigation-header {
          font-size: 2.5rem; } }
    .footer__navigation-item {
      margin-bottom: 3rem; }
      @media only screen and (max-width: 768px) {
        .footer__navigation-item {
          margin-bottom: 1.5rem; } }
    .footer__navigation-link, .footer__navigation-link:link, .footer__navigation-link:visited {
      display: inline-block;
      color: var(--footer-nav-color);
      text-decoration: none;
      transition: all .5s ease;
      font-weight: 400; }
      @media only screen and (max-width: 767px) {
        .footer__navigation-link, .footer__navigation-link:link, .footer__navigation-link:visited {
          font-size: 2.5rem; } }
    .footer__navigation-link:hover {
      color: var(--header-color); }
  .footer__logo-box {
    margin-bottom: 8.2rem; }
    @media only screen and (max-width: 768px) {
      .footer__logo-box {
        margin-bottom: 5.2rem; } }
    @media only screen and (max-width: 767px) {
      .footer__logo-box {
        display: flex;
        justify-content: center; } }
  .footer__logo {
    width: 29rem;
    height: 11rem; }
    @media only screen and (max-width: 1024px) {
      .footer__logo {
        width: 23rem; } }
    @media only screen and (max-width: 768px) {
      .footer__logo {
        width: 20rem; } }
  .footer__icon-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    @media only screen and (max-width: 767px) {
      .footer__icon-list {
        justify-content: center; } }
  .footer__icon {
    width: 4rem;
    height: 4rem; }
    @media only screen and (max-width: 767px) {
      .footer__icon-item:not(:last-child) {
        margin-right: 2rem; } }
  .footer__icon-link:hover svg {
    fill: var(--black); }
  .footer__icon-link:hover svg path {
    fill: var(--black); }

.section-copyright {
  padding-top: 5rem;
  padding-bottom: 9.4rem;
  font-size: 1.4rem; }
  @media only screen and (max-width: 768) {
    .section-copyright {
      font-size: 1.3rem; } }
  @media only screen and (max-width: 767px) {
    .section-copyright {
      font-size: 2.0rem; } }

.u-flex {
  display: flex;
  justify-content: flex-end; }
  @media only screen and (max-width: 767px) {
    .u-flex {
      justify-content: center; } }

.privacy {
  display: flex;
  list-style-type: none; }
  @media only screen and (max-width: 767px) {
    .privacy {
      justify-content: center; } }
  @media only screen and (max-width: 600px) {
    .privacy {
      flex-direction: column;
      align-items: center; } }
  .privacy__link, .privacy__link:link, .privacy__link:visited {
    color: var(--black);
    text-decoration: none;
    padding: 1rem 2rem;
    font-weight: 400; }
    @media only screen and (max-width: 1200px) {
      .privacy__link, .privacy__link:link, .privacy__link:visited {
        padding: 1rem 1rem; } }
    @media only screen and (max-width: 768px) {
      .privacy__link, .privacy__link:link, .privacy__link:visited {
        padding: 0 0;
        padding-right: 1rem; } }
    @media only screen and (max-width: 767px) {
      .privacy__link, .privacy__link:link, .privacy__link:visited {
        padding: 1rem 2rem; } }
  .privacy__link:hover {
    color: var(--header-color); }

@media only screen and (max-width: 600px) {
  .copyright {
    font-size: 1.3rem;
    font-weight: 400; } }

@media only screen and (max-width: 1200px) and (hover: none) {
  .gallery__box .btn--discover {
    opacity: 1; } }

@media only screen and (max-width: 990px) {
  .container {
    width: 100%;
    max-width: 100%; } }

@media only screen and (max-width: 768px) {
  .col-md-3--half {
    flex: 0 0 50%;
    max-width: 50%; } }

@media only screen and (max-width: 600px) {
  .col-md-3--half {
    flex: 0 0 100%;
    max-width: 100%; } }

@media only screen and (max-width: 768px) {
  .md-u-mt-sm {
    margin-top: 2rem; } }

@media only screen and (max-width: 768px) {
  .gallery__box--2 {
    height: 100%; } }

@media only screen and (max-width: 768px) {
  .md-u-mt-md {
    margin-top: 4.6rem !important; } }

@media only screen and (max-width: 768px) {
  .md-u-mb-sm {
    margin-bottom: 2rem; } }

@media only screen and (max-width: 767px) {
  .col-md-6-order-1 {
    order: 1;
    text-align: center; } }

@media only screen and (max-width: 767px) {
  .pl-0 {
    padding-left: 15px !important;
    padding-right: 15px !important; } }

@media only screen and (max-width: 767px) {
  .pr-0 {
    padding-left: 15px !important;
    padding-right: 15px !important; } }

@media only screen and (max-width: 767px) {
  .col-md-6--half {
    flex: 0 0 50%;
    max-width: 50%; } }

@media only screen and (max-width: 767px) {
  .sm-u-mt-md {
    margin-top: 4.4rem; } }

@media only screen and (max-width: 767px) {
  .sm-u-mt-sm {
    margin-top: 3rem; } }

.nav-icon {
  width: 4rem;
  height: 4rem; }

.nav_toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  display: none; }
  @media only screen and (max-width: 767px) {
    .nav_toggle {
      display: flex; } }

:root {
  --background: #FFFFFF;
  --rectangle-color:rgba(233,190,76,0.1);
  --navigation-text-color:#D7D7D7 100%;
  --body-text-color:#4F4F4F;
  --header-color: #215A50;
  --eclipse-color: #FF8D28;
  --eclipse-color-2: rgba(33,90,80,0.2);
  --yellow:#E9BE4C;
  --white: #FFFFFF;
  --footer-nav-color: rgba(79,79,79,0.5);
  --border: rgba(33,90,80,0.4);
  --red: rgb(255,55,55);
  --black: #000000;
  overflow-x: hidden;
  --gray: rgba(79,79,79,.5); }

@media (prefers-color-scheme: dark) {
  :root {
    --border: rgba(255,255,255,0.4);
    --background:#000000;
    --navigation-text-color: #D7D7D7;
    --active: #000000;
    --body-text-color: #FFFFFF;
    --header-color: #FFFFFF;
    --black: #4F4F4F;
    --footer-nav-color:rgba(255, 255, 255, 0.6);
    --product-color:rgba(255, 255, 255, 0.5); }
  .btn--discover {
    color: var(--active); }
  .eclipse {
    background-color: var(--eclipse-color); }
  ::selection {
    background-color: var(--white);
    color: var(--header-color); }
  .heading-secondary--white {
    color: var(--eclipse-color); }
  .form__input {
    background-color: #E7E7E7; }
  .form__button {
    color: var(--white); }
  .section-copyright {
    color: #4F4F4F; }
  .section-show {
    border-bottom: 2px solid rgba(255, 255, 255, 0.4); }
  .footer {
    border-bottom: 2px solid rgba(255, 255, 255, 0.4); }
  .nav-pills .nav-item a {
    color: rgba(255, 255, 255, 0.5); }
  .product__box {
    border: 1.5px solid #FFF; }
    .product__box--green {
      border: 1.5px solid var(--eclipse-color);
      background-color: var(--eclipse-color);
      color: var(--white); }
  .product__text {
    color: rgba(255, 255, 255, 0.5); }
    .product__text--white {
      color: var(--white); }
  .cta--orange {
    color: var(--white); }
  .btn--discover, .btn--discover:link, .btn--discover:visited {
    color: var(--white); }
  .product__box:hover {
    background-color: #FF8D28;
    border: 1px solid #FF8D28;
    /*  box-shadow: 2px 1rem 1.5rem #FF8D28; */ } }

@media (prefers-color-scheme: light) {
  :root {
    --background: #FFFFFF;
    --navigation-text-color:#D7D7D7 ;
    --body-text-color:#4F4F4F;
    --header-color: #215A50;
    --eclipse-color: #FF8D28;
    --eclipse-color-2: rgba(33,90,80,0.2);
    --yellow:#E9BE4C;
    --white: #FFFFFF;
    --footer-nav-color: rgba(79,79,79,0.5);
    --active: #FFFFFF;
    --product-color: #4F4F4F; }
  ::selection {
    background-color: var(--header-color);
    color: var(--white); } }
