@mixin base {
      *,
      *::before,
      *::after {
            box-sizing:inherit;
            padding: 0 ;
            margin: 0;
      }
      html {
            font-size:62.5%;
            box-sizing:border-box;
            scroll-behavior: smooth;
      }
      body {
            font-family: "Poppins", sans-serif;
            font-size: 2rem;
            line-height: 3rem;
            font-weight: 300;
            background-color: var(--background);
            overflow-x: hidden;
      }

      
}


@mixin root {
      :root {
            --background: #FFFFFF;
            --rectangle-color:rgba(233,190,76,0.1);
            --navigation-text-color:#D7D7D7 100%;
            --body-text-color:#4F4F4F;
            --header-color: #215A50;
            --eclipse-color: #FF8D28;
            --eclipse-color-2: rgba(33,90,80,0.2);
            --yellow:#E9BE4C;
            --white: #FFFFFF;
            --footer-nav-color: rgba(79,79,79,0.5);
            --border: rgba(33,90,80,0.4);
            --red: #ffd6d6;
      }
}


@mixin icon {
      & {
            width: 2.4rem;
            height: 2.4rem;
      }
}