@media (prefers-color-scheme: dark) {
  :root {
    --bg-white: #000000;
    --body-bg: #000000;
    --bg-overlay-green: #ffffff;
    --logo-white: #000000;
    --logo-green: #ffffff;
    --header-text: #ffffff;
    --paragraph-text: #ffffff;
    --search-white: #000000;
    --cart-white: #000000;
    --link: #d7d7d7;
    --link-bg: #000000;
    --heading-green: #ffffff;
    --heading-eclipse: #ff8d28;
    --bg-green: #ffffff;
    --border: #ffffff66;
    --selection-bg: #ffffff;
    --selection-text: #000000;
    --btn-signup: #000000;
    --card-line: #ff8d28;
    --newsletter-header: #ff8d28;
    --newsletter-paragraph: #000000;
    --form: #e7e7e7;
    --footer-header: #ffffff99;
    --footer-link: #ffffff99;
    --footer-icon: #ffffff;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-white: #ffffff;
    --body-bg: #efefef;
    --bg-overlay-green: #215a50;
    --logo-white: #ffffff;
    --logo-green: #215a50;
    --header-text: #215a50;
    --paragraph-text: #4f4f4f;
    --search-white: #ffffff;
    --cart-white: #ffffff;
    --link: #d7d7d7;
    --link-bg: #ffffff;
    --heading-green: #215a50;
    --heading-eclipse: #215a5033;
    --bg-green: #215a50;
    --border: #215a5066;
    --selection-bg: #215a50;
    --selection-text: #ffffff;
    --btn-signup: #ff8d28;
    --card-line: #215a50;
    --newsletter-header: #ffffff;
    --newsletter-paragraph: #ffffff;
    --form: #ffffff;
    --footer-header: #4f4f4f;
    --footer-link: #4f4f4f80;
    --footer-icon: #215a50;
  }
}
