:root {
  --unit: 10px;
  --family: "Playfair Display", serif;
  --family-2: "Poppins", sans-serif;

  --size-xs: 12px;
  --size-s: 14px;
  --size-m: 16px;
  --size-l: 24px;
  --size-xl: 32px;
  --size-2xl: 48px;

  --span-xs: var(--unit);
  --span-s: calc(var(--unit) * 2);
  --span-m: calc(var(--unit) * 3);
  --span-l: calc(var(--unit) * 4);
  --span-xl: calc(var(--unit) * 5);
  --span-2xl: calc(var(--unit) * 6);

  //font weights
  --weight-xsm: 300;
  --weight-sm: 400;
  --weight-md: 500;
  --weight-lg: 600;
  --weight-xlg: 700;
  --weight-xxlg: 800;
  --weight-2xxlg: 900;

  //color

  --btn-orange: #ff8d28;
  --white: #ffffff;
  --red: #ff3737;
  --label: #e9be4c;
  --footer-sub-link: #474747;
}

.u-mt-n {
  margin-top: 0 !important;
}

.u-mr-lg {
  margin-right: var(--span-2xl) !important;
}
